absl-py==0.13.0
aiohttp==3.7.4.post0
antlr4-python3-runtime==4.9.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==3.0.1
attrs @ file:///home/runner/.cache/pypoetry/artifacts/9a/27/ab/6895b786f345452394b42c1fdbe863803d0396e675b632c01cb13cad92/attrs-21.4.0-py2.py3-none-any.whl
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.11.1
bleach==5.0.0
CacheControl==0.12.6
cachetools==4.2.2
cachy==0.3.0
certifi==2021.5.30
cffi @ file:///home/runner/.cache/pypoetry/artifacts/62/c3/29/c16154cce4786b02879598f3745b0a55c96f76bec9c5c8175be8d5cd71/cffi-1.15.0-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
chardet==4.0.0
charset-normalizer==2.0.4
cleo==0.8.1
click==8.0.1
clikit==0.6.2
crashtest==0.3.1
cryptography==3.4.8
cs50==7.0.2
cycler @ file:///home/runner/.cache/pypoetry/artifacts/37/9c/25/cbaf98f95cc74b0a7617cef17520e3f063dbabd9f0f8a04f93a15f6632/cycler-0.11.0-py3-none-any.whl
debugpy @ file:///home/runner/.cache/pypoetry/artifacts/8b/4c/81/9c2cc516da65e49e67e68b3f1274c4360a1cd08f8aa57f3ee5b40a6b45/debugpy-1.6.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.2
docopt==0.6.2
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.0.12
Flask==2.0.1
fonttools @ file:///home/runner/.cache/pypoetry/artifacts/9e/e9/88/09fcab33d569de8d9a1419707eec52d9381b42d048983bb4fa4c615440/fonttools-4.33.3-py3-none-any.whl
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
glfw==2.2.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.1
grpcio==1.40.0
h5py==2.10.0
html5lib==1.1
idna==3.2
importlib-metadata==3.10.1
importlib-resources==5.8.0
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.0.1
jedi==0.18.1
jeepney==0.7.1
Jinja2 @ file:///home/runner/.cache/pypoetry/artifacts/33/db/47/0926a99dba6f131e3566591eed52f286b44bcfddcbe351f4116fc4d26f/Jinja2-3.1.2-py3-none-any.whl
joblib @ file:///home/runner/.cache/pypoetry/artifacts/9b/a3/77/11a58dff170042277b83b2abf4a83664b0ef3c048f0cccee2b204ed842/joblib-1.1.0-py2.py3-none-any.whl
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver @ file:///home/runner/.cache/pypoetry/artifacts/0d/0e/3a/cdd013cec852124cc6c49173cf5e363fb9713cb72ae1aa77c057b2ac91/kiwisolver-1.4.3-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl
lockfile==0.12.2
Markdown==3.3.4
MarkupSafe @ file:///home/runner/.cache/pypoetry/artifacts/a1/b5/ec/98e5013eaa2b18e16d1fbb1d7ebf2b940a2f0442dcb1eb2b7d16c220c4/MarkupSafe-2.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
matplotlib @ file:///home/runner/.cache/pypoetry/artifacts/4d/05/ab/e736ae60ef7c29ef57ca34f11045c6199ea7777b82028f279012177653/matplotlib-3.5.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.2
multidict==5.1.0
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
nltk==3.6.2
notebook==6.4.12
numpy @ file:///home/runner/.cache/pypoetry/artifacts/d0/86/a4/a356f7d0c253ff89d0e5b1bfa1349e387163a9c14aa9c956a4ddf090a7/numpy-1.23.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
oauthlib==3.1.1
opt-einsum==3.3.0
packaging @ file:///home/runner/.cache/pypoetry/artifacts/7f/d5/4c/1d3c4776012fc0bbe1f86e69bde2c5e36d2d32caa2e4845ac1fc08ab3f/packaging-21.3-py3-none-any.whl
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pastel==0.2.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/runner/.cache/pypoetry/artifacts/83/7a/5f/ac8f36704205086088fb1ef8ec1ffba565d5eb0200c9416e94e2e922f7/Pillow-9.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
pipreqs-amasad==0.4.10
pkginfo==1.7.1
platformdirs==2.3.0
pluggy==0.13.1
poetry==1.1.6
poetry-core==1.0.4
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.17.3
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/runner/.cache/pypoetry/artifacts/7a/f7/3b/fd50e9d7e1c02d2d2e8631fca716f6b6ffe3742f322e4a170eb3f2f41b/pycparser-2.21-py2.py3-none-any.whl
pyflakes==2.1.1
pygame==2.0.1
Pygments==2.12.0
pylev==1.4.0
PyOpenGL==3.1.5
pyparsing @ file:///home/runner/.cache/pypoetry/artifacts/4a/b9/34/28557b740fb51bd635f6794a95d02e23de02724e07f03c3ad49cebcf86/pyparsing-3.0.9-py3-none-any.whl
pyquil==1.9.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-jsonrpc-server==0.3.2
python-language-server==0.31.10
pytz==2022.1
pyxel @ git+https://github.com/amasad/pyxel@8bcc2266b2fbb65f72ad686952de3838971c136e
pyzmq==23.2.0
qtconsole==5.3.1
QtPy==2.1.0
referenceqvm==0.3
regex==2021.8.28
replit==3.2.4
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rope==0.18.0
rsa==4.7.2
scikit-learn==1.1.1
scipy @ file:///home/runner/.cache/pypoetry/artifacts/5c/38/63/9194f23ecdc809e85ad7f3d3c8b25f19557f556617586461090f6039c2/scipy-1.6.1-cp38-cp38-manylinux1_x86_64.whl
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.0
setuptools-scm @ file:///home/runner/.cache/pypoetry/artifacts/ed/4b/67/397dae3aff8e570e95cf7c4e97b937bfb472827cd89eb500da5c6b438f/setuptools_scm-7.0.2-py3-none-any.whl
shellingham==1.4.0
six==1.16.0
sounddevice==0.4.2
soupsieve==2.3.2.post1
SQLAlchemy==1.4.23
sqlparse==0.4.2
stack-data==0.3.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.0
tensorflow-cpu @ https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.2.0-cp38-cp38-manylinux2010_x86_64.whl
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli @ file:///home/runner/.cache/pypoetry/artifacts/36/bd/11/98fa2af866c73d00f2498ade62c7fcf28db8656714b7b7a44e9cb2f855/tomli-2.0.1-py3-none-any.whl
tomlkit==0.7.2
tornado==6.1
tqdm==4.62.2
traitlets==5.3.0
typing-extensions @ file:///home/runner/.cache/pypoetry/artifacts/18/72/6c/690f7427f477807a9597dee26e599e0e73d1aa5fa12a06fa5ed704b967/typing_extensions-4.2.0-py3-none-any.whl
ujson==1.35
urllib3==1.26.6
virtualenv==20.7.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.6.1
wrapt==1.12.1
xgboost==1.6.1
yapf==0.31.0
yarg==0.1.9
yarl==1.6.3
zipp @ file:///home/runner/.cache/pypoetry/artifacts/4f/ef/74/a2e3ed624c546651f2ae9baca2eec6d2597a5c87b8370870bab625340c/zipp-3.8.0-py3-none-any.whl
